@media only screen and (max-width: 1500px) and (min-width: 992px){
  #wrapper {
    width: 40%;
  }
  #color-wheel-background {
    --wheel-radius: 250px; /* it is variable! */
  }
  :root {
    --range-height: 40px;
  }
  html, body {overflow: visible}

  .color-item {
    width: 60px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  #wrapper {
    width: 50%;
  }

  #color-wheel-background {
    --wheel-radius: 300px; /* it is variable! */
  }
  :root {
    --range-height: 40px;
  }
  select {
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
  #wrapper {
    width: 75%;
  }

  #color-wheel-background {
    --wheel-radius: 250px; /* it is variable! */
  }

  :root {
    --range-height: 40px;
  }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  #wrapper {
    width: 75%;
  }

  #color-wheel-background {
    --wheel-radius: 250px; /* it is variable! */
  }
  :root {
    --range-height: 40px;
  }
}

@media only screen and (max-width: 320px) {
  #wrapper {
    width: 80%;
  }

  #color-wheel-background {
    --wheel-radius: 200px; /* it is variable! */
  }
  :root {
    --range-height: 35px;
  }
}
