html, body {margin: 0; height: 100%; overflow: hidden}

html {
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  
}

body {
  font-family: monospace,monospace;
  -webkit-appearance: none;
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  background: #363538;
  color: #efeae1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

#wrapper {
  z-index: -1;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 10%;
  height: 100%;
  width: 85%;
}

#hat{
  /* position: absolute; */
  display: none;
  top: 0px;
  width: 100%;
  height:8%;
  /* background-color: #584b4f; */
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
}

#main-name{
  position: relative;
  top: 30px;
  display: none;
}

.headers {
  text-align: center;
  width: 100%;
  margin-bottom: 20%;
}

#head-text > h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 76px;
  animation: showBlock 1s ease forwards;
  transition: transform 1s ease-in-out;
}

#head-text > h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  animation: showBlock 1s ease forwards;
}

#input-forms {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  animation: showBlock 1s ease forwards;
}

#input-forms > h2 {
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 36px;
}

#input-forms > input {
  width: 100%;
}

#input-forms > select {
  width: 100%;
}

.toggle{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.toggle:focus{
  outline: 0
}

.toggle{
  height: 40px;
  width: 60px;
  border-radius: 500px;
  display: inline-block;
  position: relative;
  margin: 2%;
  border: 2px solid #584b4f;
  background: #584b4f;
  transition: all .2s ease;
}

.toggle:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44,44,44,.2);
    transition: all .2s cubic-bezier(.5,.1,.75,1.35);
}

.toggle:checked{
  background: #efdab9;
}
.toggle:checked:after{
  transform: translatex(20px);
}


select {
  -webkit-appearance: none;
}

select{
  height: 40px;
  width: 80%;
  background-color: #584b4f;
  border-radius: 500px;
  padding-left: 5%;
  /* text-align: -webkit-center; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  color:  #fff;
  box-shadow: none;
  outline: none;
}

select > option {
  color:gainsboro;
}

.settings-block{
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #584b4f;
  border-radius: 20px;
}

#color-settings-box{
  flex-basis: 65%;
}

#effect-settings{
  flex-basis: 23%;
}

#speed-range{
  --range-color:#efdab9;
  /* background-color: #efdab9; */
}

/* ---  END for loading animation --- */

[hidden] {
  display: none !important;
}
