@font-face {
  font-family: "SF UI Display";
  font-weight: 500;
  src: url(../fonts/SFUIDR.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 200;
  src: url(../fonts/SFUIDT.ttf); /* Путь к файлу со шрифтом */
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html, body {margin: 0; height: 100%; overflow: hidden}

html {
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  
}

body {
  font-family: monospace,monospace;
  -webkit-appearance: none;
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  background: #363538;
  color: #efeae1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

#wrapper {
  z-index: -1;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 10%;
  height: 100%;
  width: 85%;
}

#hat{
  /* position: absolute; */
  top: 0px;
  width: 100%;
  height:8%;
  /* background-color: #584b4f; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#main-name{
  position: relative;
  top: 30px;
  display: none;
}

.headers {
  text-align: center;
  width: 100%;
  margin-bottom: 20%;
}

#head-text > h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 76px;
  animation: showBlock 1s ease forwards;
  transition: transform 1s ease-in-out;
}

#head-text > h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  animation: showBlock 1s ease forwards;
}

#input-forms {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  animation: showBlock 1s ease forwards;
}

#input-forms > h2 {
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 36px;
}

#input-forms > input {
  width: 100%;
}

#input-forms > select {
  width: 100%;
}

select {
  -webkit-appearance: none;
}

select > option {
  color: rgb(0, 102, 161);
}

.similar-input {
  font-family: monospace,monospace;
  height: 50px;
  margin: 20px 0;
  padding: 10px;
  background: #efeae1;
  box-sizing: border-box;
  transition: 0.3s border-color;
  transition: 0.3s box-shadow;

  border-radius: 3px;
  border: 0px;
  border-bottom: 3px solid #fff;
  outline: none;

  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #314567 !important;
}

#input-forms > .similar-input:hover {
  border-bottom: 3px solid #0ee6b0;
}

::-webkit-input-placeholder {
  color: #9e9e9e;
  opacity: 1;
}

#connect {
  height: 50px;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  background: linear-gradient(268.56deg, #2482d9 3.2%, #3f3cb7 93.82%),
    rgba(28, 134, 205, 0.71);
  border: 0px solid #a9d6ff;
  box-sizing: border-box;
  border-radius: 25px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #e3e3e3;
  transition: 0.3s border-color;
  transition: 0.3s box-shadow;
}

#connect:hover {
  box-shadow: 0px 0px 20px #54adff;
}

select{
  height: 40px;
  width: 80%;
  background-color: #584b4f;
  border-radius: 500px;
  padding-left: 5%;
  /* text-align: -webkit-center; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  color:  #fff;
  box-shadow: none;
  outline: none;
}

.settings-block{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #584b4f;
  border-radius: 20px;
}

#color-settings-box{
  flex-basis: 65%;
}

#effect-settings{
  flex-basis: 17%;
}

#speed-range{
  --range-color:#efdab9;
  /* background-color: #efdab9; */
}


/* ---  END for loading animation --- */

[hidden] {
  display: none !important;
}
